---
services:
  # Apache and PHP service
  # web:
  #   image: php:8-apache
  #   container_name: php-apache
  #   ports:
  #     - "8081:80"
  #   volumes:
  #     - .:/var/www/html
  #     - ./php.ini-dev:/usr/local/etc/php.ini-development
  #     - ./php.ini-dev:/usr/local/etc/php.ini
  #     - ./php.ini-prod:/usr/local/etc/php.ini-production

  web:
    # image: php:8-alpine
    build:
      context: .
      dockerfile: PhpAlpine.Dockerfile
    working_dir: /var/www
    command: php -S 0.0.0.0:8080 -t public
    environment:
      - docker=true
    ports:
      - "8080:8080"
    volumes:
      - .:/var/www
      - ./logs:/var/www/logs
    networks:
      - app-network

  postgres:
    container_name: posty
    hostname: postgres
    image: postgres:18.1
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME} #optional (specify default database instead of $POSTGRES_DB)
      - TZ=America/New_York
      - PGTZ=America/New_York
    ports:
      - "5432:5432"
    command: >
      postgres -c logging_collector=on
               -c log_directory=/var/log/postgresql
               -c log_filename=postgresql.log
               -c log_statement=all
               -c log_connections=on
               -c log_disconnections=on
               -c log_destination=stderr,csvlog
               -c log_rotation_age=1d
               -c shared_preload_libraries=pg_stat_statements
               -c pg_stat_statements.track=all
    restart: unless-stopped
    # network_mode: "host"
    networks:
      - app-network

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_MAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PW}
    volumes:
      - ./data:/var/lib/postgresql/data
      - ./logs:/var/log/postgresql
      - ./certs:/var/lib/postgresql/certs
    ports:
      - "5050:80"
    networks:
      - app-network
    depends_on:
      - postgres
    restart: always

      # possible alternate configuration for postgres?
      #  postgres:
      #    image: postgres:18.1
      #    container_name: postgres
      #    hostname: postgres
      #    environment:
      #      # POSTGRES_USER_FILE: /run/secrets/pg_user
      #      POSTGRES_DB: postgres
      #      # POSTGRES_PASSWORD_FILE: /run/secrets/pg_pw
      #      TZ: America/New_York
      #      PGTZ: America/New_York
      #        # secrets:
      #        #   - pg_user
      #        #   - pg_pw
      #    volumes:
      #      - ./data:/var/lib/postgresql/data
      #      - ./logs:/var/log/postgresql
      #      - ./certs:/var/lib/postgresql/certs
      #    command: >
      #      # postgres -c ssl=on
      #      #          -c ssl_cert_file=/var/lib/postgresql/certs/server.crt
      #      #          -c ssl_key_file=/var/lib/postgresql/certs/server.key
      #      postgres -c logging_collector=on
      #               -c log_directory=/var/log/postgresql
      #               -c log_filename=postgresql.log
      #               -c log_statement=all
      #               -c log_connections=on
      #               -c log_disconnections=on
      #               -c log_destination=stderr,csvlog
      #               -c log_rotation_age=1d
      #               -c shared_preload_libraries=pg_stat_statements
      #               -c pg_stat_statements.track=all
      #    restart: unless-stopped
      #    # network_mode: "host"
      #    networks:
      #      - app-network

      # secrets:
      #   pg_user:
      #     file: ./secrets/pg_user.txt
      #   pg_pw:
      #     file: ./secrets/pg_pw.txt

# Define networks
networks:
  app-network:
